AWS_REGION=us-east-1
API_BASE_URL_DEV=https://api-dev.gazellecoffee.com/v1
API_BASE_URL_STAGING=https://api-staging.gazellecoffee.com/v1
API_BASE_URL_PROD=https://api.gazellecoffee.com/v1
EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8080/v1
CATALOG_SERVICE_BASE_URL=http://127.0.0.1:3002
PASSKEY_RP_ID=localhost
PASSKEY_RP_NAME=Gazelle
PASSKEY_EXPECTED_ORIGINS=https://localhost
PASSKEY_TIMEOUT_MS=60000
