NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_CLIENT_DASHBOARD_URL=https://app-dev.nomly.us
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_ORG=nomly
SENTRY_PROJECT=lattelink-web
SENTRY_AUTH_TOKEN=
SENTRY_TRACES_SAMPLE_RATE=0.1
NEXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.1
LATTELINK_CONTACT_WEBHOOK_URL=
LATTELINK_CONTACT_WEBHOOK_BEARER_TOKEN=
RESEND_API_KEY=
LATTELINK_CONTACT_EMAIL_TO=
LATTELINK_CONTACT_EMAIL_FROM=
